---
import { Icon } from 'astro-icon/components';
---

<header
  class="sticky inset-x-0 top-0 z-50 flex items-center bg-[var(--color-base-150)]"
>
  <div
    class="flex min-h-16 w-full px-4 py-3 sm:px-8 md:px-12 lg:px-16 xl:px-20"
  >
    <div class="flex flex-1 items-center justify-center px-1">
      <a href="/" class="flex items-center gap-2">
        <Icon name="isotipo" class="isotipo-only h-7 w-auto sm:h-8 md:h-9" />
        <Icon name="logotipo" class="logo-condensed h-6 w-auto" />
      </a>
    </div>
  </div>
</header>
